.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .overlap-wrapper {
    background-color: #ffffff;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
  }
  
  .desktop .overlap {
    height: 1024px;
    position: relative;
    width: 1442px;
  }
  
  .desktop .rectangle {
    background-color: #ffffff;
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .desktop .suggestions {
    height: 912px;
    left: 146px;
    position: absolute;
    top: 87px;
    width: 759px;
  }
  
  .desktop .overlap-group {
    background-color: #d9d9d9;
    border-radius: 35px;
    height: 912px;
    position: relative;
    width: 755px;
  }
  
  .desktop .line {
    height: 808px;
    left: 368px;
    position: absolute;
    top: 72px;
    width: 1px;
  }
  
  .desktop .text-wrapper {
    color: #000000;
    font-family: "Carme", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 109px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 28px;
    white-space: nowrap;
    width: 142px;
  }
  
  .desktop .div {
    color: #000000;
    font-family: "Carme", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 473px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 173px;
  }
  
  .desktop .categories {
    height: 912px;
    left: 1015px;
    position: absolute;
    top: 87px;
    width: 350px;
  }
  
  .desktop .div-wrapper {
    background-color: #d9d9d9;
    border-radius: 35px;
    height: 912px;
    position: relative;
    width: 348px;
  }
  
  .desktop .text-wrapper-2 {
    color: #000000;
    font-family: "Carme", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 172px;
  }
  
  .desktop .header {
    background-color: transparent;
    height: 69px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1442px;
  }
  
  .desktop .overlap-2 {
    height: 69px;
    position: relative;
    width: 1440px;
  }
  
  .desktop .rectangle-2 {
    background-color: #d9d9d9;
    height: 68px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 1439px;
  }
  
  .desktop .ellipse {
    height: 56px;
    left: 1358px;
    position: absolute;
    top: 7px;
    width: 56px;
  }
  
  .desktop .rectangle-3 {
    background-color: #545454;
    height: 32px;
    left: 1177px;
    position: absolute;
    top: 18px;
    width: 131px;
  }
  
  .desktop .text-wrapper-3 {
    color: #d9d9d9;
    font-family: "Carme", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1177px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 18px;
    width: 133px;
  }
  
  .desktop .web-project-logo {
    height: 69px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 69px;
  }
  
  .desktop .search-bar {
    height: 39px;
    left: 98px;
    position: absolute;
    top: 17px;
    width: 199px;
  }
  
  .desktop .overlap-3 {
    background-color: #ffffff;
    border-radius: 14px;
    height: 39px;
    position: relative;
    width: 197px;
  }
  
  .desktop .text-wrapper-4 {
    color: #bababa;
    font-family: "Carme", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
    white-space: nowrap;
    width: 116px;
  }
  
  .desktop .group {
    height: 18px;
    left: 15px;
    position: absolute;
    top: 8px;
    width: 16px;
  }
  
  .desktop .overlap-group-2 {
    height: 19px;
    position: relative;
  }
  
  .desktop .ellipse-2 {
    border: 2px solid;
    border-color: #bababa;
    border-radius: 6.3px;
    height: 13px;
    left: 4px;
    position: absolute;
    top: 0;
    width: 13px;
  }
  
  .desktop .img {
    height: 8px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 7px;
  }
  